.student-card {
  margin: 20px;
  padding: 10px;
  background-color: #00bfff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  
  .info {
  border: 2px solid #333;
  padding: 20px;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 8px;
  }
  
  h4 {
  font-size: 24px;
  font-weight: bold;
  color: #e22367;
  }
  
  p {
  color: #0077c8;
  font-size: 18px;
  line-height: 1.5;
  }
  
  .score-details {
  color: #8B0000;
  font-size: 16px;
  }
  
  .scores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .score-card {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  }
  
  .score-card h5 {
  margin: 0;
  font-size: 18px;
  color: #333;
  }
  
  .score-card p {
  margin: 0;
  font-size: 14px;
  color: #777;
  }